.para{
	background-color: blue;
}
#paragraph{
	background-color: pink;
}
.first,.second,.third,.four{
	border: 2px solid #000;
	margin:2px;
	width: 367px;
	text-align: center;
}
img{
	width:200px;
	padding:10px;
}
.parent{
	display:flex;
	flex-direction: row-reverse;
	flex-wrap: wrap;
}
/*for mobile*/
@media screen and (max-width: 425px){
	.parent{
		flex-direction: column;

	}
	.first{
		background-color: blue;
	}
}
/*for tablet*/
@media screen and (min-width: 426px) and (max-width:768px){
.parent{
	flex-direction: row-reverse;
	justify-content: space-between;
}
.first,.second,.third,.four{
	background-color: #ddd;
	border-radius: 20px;
	width: 300px;
}
}